<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066515621416-drl1qjdcguv7nko0b23bv9hd0l7aei9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066515621416-drl1qjdcguv7nko0b23bv9hd0l7aei9n</string>
	<key>API_KEY</key>
	<string>AIzaSyC5jxMbfLLVb_AN44ePrpnQ10dB4U95lqA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066515621416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabancitalks.sabanciTalks</string>
	<key>PROJECT_ID</key>
	<string>sabancitalks-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>sabancitalks-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066515621416:ios:a264ac7a4680eaa8d7b71d</string>
</dict>
</plist>